.input__nickname {
  
    width: calc(100% - 40px);
    max-width: 80%;
    margin: 0 10px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    &::placeholder {
      color: #aaa;
    }
  }


.btn__enter-nickname {
  background: #BFE4F9;
}
.btn__enter-nickname:hover {
  color: white;
}
.input__nickname, .btn__enter-nickname {
  border-radius: 5px;
  padding:  0.5em 1em;
  font-size: 14px;
  border: #7da3b8 solid;
}