.input__nickname {
  margin-right: 1em;
}

.btn__enter-nickname {
  background: #BFE4F9;
}
.btn__enter-nickname:hover {
  color: white;
}
.input__nickname, .btn__enter-nickname {
  border-radius: 5px;
  padding:  0.5em 1em;
  font-size: 14px;
  border: #7da3b8 solid;
}