.users__header {
  position: fixed;
  top: 10px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 14px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
  margin-top: 5em;

  .message {
    max-width: 70%;
    min-width: 20%;
    
    padding: 0 1em;
    margin: 0.5em 0;
    border-radius: 20px;
    background: #C1FFC1;
    

    .about {
      &__user {
        display: flex;
        align-items: center;

        .userAvatar {
        height:  30px;
        margin-right: 1em;
        }

        .userName {
          font-size: 20px;
        }
      }

      &__message {
        display: flex;
        flex-direction: column;

        .date {
          align-self: end;
          max-width: 50px;
          font-size: 10px;
          margin: 0;
        }

        .text {
          word-break: break-all;
          align-self: start;
          width: calc(100% - 55px);
          margin: 0;
        }
      }
    }
  }
  .user__current {
    align-self: end;
    background: #BFE4F9   ;
  }

}


