.btn__enter-Message {
  width: 20px;
}

.input__message {
  display: grid;
  width: 100%;
  align-items: center;
  position: fixed;
  bottom: 10px;
  grid-template-columns: 1fr 50px;

    .textarea__message {
    margin-right: 5px;
    border-radius: 5px;
    height: 50px;
    
  }
}
