.btn__enter-Message {
  width: 20px;
}

.textarea__message {
  margin-right: 5px;
  border-radius: 5px;
  width: calc(100% - 35px);
  height: 50px;
}

.input__message {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}